service atcid-daemon-u /system/bin/atcid
    class main
    socket adb_atci_socket stream 660 radio system
    user system
    group radio system media
    disabled
    oneshot

service atcid-daemon-e /system/bin/atcid
    class core
    socket adb_atci_socket stream 660 radio system
    user root
    group radio system
    disabled
    oneshot

on property:ro.build.type=eng
start atcid-daemon-e

on property:persist.service.atci.autostart=1
start atcid-daemon-u
