# emdlogger SELinux issue for selinux_android_restorecon phase out
#    mkdir /data/mdlog 0775 shell system
#    mkdir /data/mdlog/bootupLog 0755 shell system

on boot

##Netlog tool
   #change permissions about terminal
    chown root radio /proc/net/vlan/config
    chmod 0640 /proc/net/vlan/config
    chown root radio /proc/net/ip6_tables_matches
    chown root radio /proc/net/ip6_tables_names
    chown root radio /proc/net/ip6_tables_targets
    chown root radio /proc/net/arp_tables_targets
    chown root radio /proc/net/arp_tables_matches
    chown root radio /proc/net/arp_tables_names
    chown root radio /proc/net/ip_tables_targets
    chown root radio /proc/net/ip_tables_matches
    chown root radio /proc/net/ip_tables_names
    chown root radio /proc/net/ip_conntrack_expect
    chown root radio /proc/net/ip_conntrack
    chown root radio /proc/net/nf_conntrack
    chown root radio /proc/net/nf_conntrack_expect
    chown root radio /proc/net/netfilter/nfnetlink_log
    chown root radio /proc/net/netfilter/nfnetlink_queue


# define device for EMCSMDLOGGER
#    chown system radio /dev/ttyGS3
#    chmod 0660 /dev/ttyGS3

service netdiag /system/bin/netdiag
    class main